{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailroutablepage_tags %}

{% block body_class %}template-projectsmeetingpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <h5>Prepared by: {% for preparor in page.meeting_structure.prepared_by.all %} {{preparor}}{% endfor %}</h5>
    <h5>Attendees: {% for attendee in page.meeting_structure.attendees.all %} {{attendee}}{% endfor %}</h5>
    <div class="intro block">
        <h6>Summary 
            <button type="button" class="btn edit-button" data-dismiss="modal" aria-label="Edit">
                <span class="glyphicon glyphicon-pencil edit-button"></span>
            </button>
        </h6>
        <div id="intro" class="note-content">
            {{ page.intro|richtext }}
        </div>
    </div>
    <div class="main block bottom">
        <h6>Meeting Notes
            <button type="button" class="btn edit-button" data-dismiss="modal" aria-label="Edit">
                <span class="glyphicon glyphicon-pencil edit-button"></span>
            </button>
        </h6>
        <div id="meeting_notes" class="note-content">
            {{ page.meeting_notes|richtext }}
        </div>
    </div>

    <p>Last Update: {{page.last_published_at|date:'Y-m-d H:i' }}<p>
    
{% endblock %}


{% block extra_css %}
<style type="text/css">
    .block{
        border-top: 1px black solid;
        min-height: 100px;    
    }
    .bottom{
        border-bottom: 1px black solid;    
    }
    .note-content{    
    }
    .edit-button{
        background-color: transparent;
        border: 0;
    }
    .edit-button:focus{
        box-shadow: none!important;   
    }
</style>
{% endblock %}


{% block extra_js %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="{% static 'MathJax/MathJax.js' %}?config=TeX-AMS_CHTML">
</script>
<script type="text/javascript" >
$('.edit-button').on('click', function (event) {
    var disp = $(this).closest('.block').find('.note-content');
    var fieldName = $(disp).attr('id');

    $.ajax({
        url: "{% routablepageurl self 'edit' %}" + fieldName,
        context: document.body
    }).done(function(response) {
        disp.html(response);
    });
});
</script>
{% endblock %}