{% extends "base.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags staticfiles %}

{% block body_class %}template-projectsindexpage{% endblock %}

{% block content %}
    <div class="jumbotron bg-dark text-light">
    <h1 class="display-4">{{ page.title }}</h1>
    <div class="block edit-button">
        <div id="intro" class="note-content lead">
            {{page.intro|richtext }}
        </div>
    </div>
    <hr class="my-4 text-light">
    <h6>
        <span class="glyphicon glyphicon-user"></span>
        {% for researcher in page.project_structure.researchers.all %}
        {{researcher}}{%if not forloop.last%}, {%endif%}
        {% endfor %}
    </h6>
    <h6>
        <span class="glyphicon glyphicon-folder-open"></span>
         {{page.project_structure.shared_drive}}; 
        <span class="glyphicon glyphicon-globe"></span>
         {{page.project_structure.git_repo}}           
    </h6>
    <p class="align-self-end"><a href="" >edit project</a> - <a href="" >add sponsor</a></p>
    </div>

    <div id="modal" class="modal" tabindex="-1" role="dialog"></div>
    <div id="modal-add-section" class="modal" tabindex="-1" role="dialog"></div>    
    
    <div class="row">
    <div class="col-9">
        <h5><span>Project</span> Notes <a href="#" data-toggle="modal" data-target="#modal" title="Add Note"><span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-plus" style="font-size: 10pt;"></span></a></h5>
        {% for post in page.get_notes %}

        <div class="d-flex bg-light border border-dark p-2 mb-1">
            <img class="mr-3 thumbnail" src="{% static 'img/note-default.png' %}" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                        {{ post.specific.intro | richtext }}
                        {{ post.specific.meeting_notes | richtext }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="project-nav" class="col-3" style="top: -70px;">
    <div class="sticky-top">
    <h5>Sections <a href="#" data-toggle="modal" data-target="#modal-add-section" title="Add Section"><span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-plus" style="font-size: 10pt;"></span></a></h5>
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Recent Notes</a>
    {% for section in page.get_sections %}
        <a href="{{section.url}}" class="list-group-item list-group-item-action">{{section}}</a>
    {% endfor %}
    </div>
    <hr>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Citations</a>
  <a href="#" class="list-group-item list-group-item-action">Documents</a>
  <a href="#" class="list-group-item list-group-item-action">Files</a>
  <a href="#" class="list-group-item list-group-item-action">Links</a>
  <a href="#" class="list-group-item list-group-item-action">Directory</a>
    </div>
    </div>
    </div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" >
$('#modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% url 'add-list' pk=page.pk %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
});

$('#modal-add-section').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
        url: "{% routablepageurl self 'addSection' %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
});
</script>
<script type="text/javascript" >
var edit_nonactive = true;
$('.edit-button').on('click', function (event) {
    var disp = $(this).closest('.block').find('.note-content');
    console.log(disp);
    var fieldName = $(disp).attr('id');
    
    if(edit_nonactive){
    edit_nonactive = false;
    $.ajax({
        url: "{% routablepageurl self 'edit' %}" + fieldName,
        context: document.body
    }).done(function(response) {
        disp.html(response);
    });
    }
});
</script>

{% endblock %}

{% block extra_css %}
<style type="text/css">
    hr { border-color: inherit }
    .sticky-top:before {
    height: 70px;
    content: "";
    display:block;
}
</style>
{% endblock %}